<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="constr"
            connectionString="Data Source=S319P\SQLEXPRESS;Initial Catalog=StepAirways;Persist Security Info=True;User ID=Iurie;Password=123qweASD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>